.circleContainer {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.beforeBorder {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;

  letter-spacing: 2px;
  position: relative;
}

.beforeBorder::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px; /* Border thickness */
  background-color: #d1d0d0;
  transform: scaleX(0); /* Initially, hide the border */
  transform-origin: 0 0;
  transition: transform 0.3s;
}

.beforeBorder:hover::before {
  transform: scaleX(1);
  border-bottom: 5px solid rgb(185, 185, 185);
}

.activeBorder {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  letter-spacing: 2px;
  position: relative;
  /* border-bottom: 5px solid white; */
}

.activeBorder::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px; /* Border thickness */
  background-color: #ffffff;
}
